@keyframes outerRotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes innerRotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
}


.tech-container{
    padding: 0 2vw 3vw;
    display: flex;
    align-items: center;
    gap: 5vw;
    flex-direction: column;
    position: relative;
}

.tech-container .tech-title{
    font-size: 5vw;
    text-align: left;
}

.skill-wrapper{
    border: 3px solid #232323;
    border-radius: 50%;
    width: 28vw;
    height: 28vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: relative;

    animation: outerRotate 35s linear infinite;
}
.skill-wrapper .test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #232323;
    background-color: white;
    font-size: 1.3vw;

    position: absolute;
    padding:1vw;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}
.skill-wrapper .test .innerTest{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: innerRotate 35s linear infinite;
}

.skill-wrapper .test .icon{
    font-size: 4vw;
}

.skill-wrapper .test:nth-child(1){
    left:0;
    top:50%;
    transform: translate(-45%,-50%);
}
.skill-wrapper .test:nth-child(2){
    left:0;
    bottom: 0;
}
.skill-wrapper .test:nth-child(3){
    left:50%;
    bottom: 0;
    transform: translate(-50%, 45%);
}
.skill-wrapper .test:nth-child(4){
    right:0;
    bottom: 0;
}
.skill-wrapper .test:nth-child(5){
    right:0;
    top:50%;
    transform: translate(45%,-50%);
}
.skill-wrapper .test:nth-child(6){
    right:0;
    top: 0;
}
.skill-wrapper .test:nth-child(7){
    left:50%;
    top:0;
    transform: translate(-50%,-45%);
}
.skill-wrapper .test:nth-child(8){
    left:0;
    top: 0;
}


.skill-wrapper .test:nth-child(1) .icon{
    color: orange;
}
.skill-wrapper .test:nth-child(2) .icon{
    color: rgb(0, 183, 255);
}
.skill-wrapper .test:nth-child(3) .icon{
    color: rgb(249, 249, 59);
}
.skill-wrapper .test:nth-child(4) .icon{
    color: rgb(255, 0, 255);
}
.skill-wrapper .test:nth-child(5) .icon{
    color: rgb(0, 123, 255);
}
.skill-wrapper .test:nth-child(6) .icon{
    color: rgb(159, 0, 217);
}
.skill-wrapper .test:nth-child(7) .icon{
    color: rgb(158, 213, 255);
}
.skill-wrapper .test:nth-child(8) .icon{
    color: rgb(118, 118, 118);
} 

.tech-container .blob li:nth-child(1){ 
    width: 50%;
    height: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M892 659q-13 159-177 144t-290 15.5q-126 30.5-232-69T123.5 513Q160 376 207 225t191.5-59Q543 258 643 277t181 121q81 102 68 261Z%22%2F%3E%3C%2FclipPath%3E%3Cpattern id=%22b%22 patternUnits=%22userSpaceOnUse%22 width=%2250%22 height=%2250%22 viewBox=%220 0 100 100%22 fill=%22%23f7ba59%22%3E%3Ccircle cx=%2250%22 cy=%2250%22 r=%2212.5%22%2F%3E%3C%2Fpattern%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M892 659q-13 159-177 144t-290 15.5q-126 30.5-232-69T123.5 513Q160 376 207 225t191.5-59Q543 258 643 277t181 121q81 102 68 261Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    z-index: -1;
    transform: translate(30%, 35%);
    position: absolute;
    top:0;
    right: 0;
    list-style: none;
}

.tech-container .blob li:nth-child(2){ 
    width: 50%;
    height: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M877.5 627Q849 754 733 807.5t-221.5 17q-105.5-36.5-201-77t-95.5-144Q215 500 270.5 437t85-176q29.5-113 146-118T711 208.5q93 70.5 144 181T877.5 627Z%22%2F%3E%3C%2FclipPath%3E%3Cpattern id=%22b%22 patternUnits=%22userSpaceOnUse%22 width=%2250%22 height=%2250%22 viewBox=%220 0 100 100%22 fill=%22%23232323%22 patternTransform=%22rotate(-45 0 0)%22%3E%3Cpath d=%22M0 0v100%22 stroke=%22%23232323%22 stroke-width=%2220%22%2F%3E%3C%2Fpattern%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M877.5 627Q849 754 733 807.5t-221.5 17q-105.5-36.5-201-77t-95.5-144Q215 500 270.5 437t85-176q29.5-113 146-118T711 208.5q93 70.5 144 181T877.5 627Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    z-index: -1;
    transform: translate(-40%, 20%);
    position: absolute;
    bottom:0;
    left:0;
    list-style: none;
}
  

@media screen and (max-width: 768px){
    .tech-container{
        padding: 15vw 0;
    }
    .tech-container .tech-title{
        font-size: 12vw;
        text-align: center;
    }
    .skill-wrapper{
        width: 75vw;
        height: 75vw;
    }
    .skill-wrapper .test{
        width: 17vw;
        height: 17vw;
        font-size: 3.5vw;
    }
    .skill-wrapper .test .icon{
        font-size: 8vw;
    } 
    .skill-wrapper .test:nth-child(2){
        transform: translate(5%, -5%);
    }
    .skill-wrapper .test:nth-child(4){
        transform: translate(-5%, -5%);
    }
    .skill-wrapper .test:nth-child(6){
        transform: translate(-5%, 5%);
    }
    .skill-wrapper .test:nth-child(8){
        transform: translate(5%, 5%);
    }

    .tech-container .blob li:nth-child(1){
        width: 60%;
        height: 60%;
        transform: translate(60%, -5%);
    }
    .tech-container .blob li:nth-child(2){
        transform: translate(-40%, 20%);
    }
}