.ContactForm-container{
    width: 100%;
    margin-top: 75px;
    padding-bottom: 75px;
    background-color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ContactForm-title{
    font-size: 5vw;
}

form{
    width: 80%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form span{
    width: 60.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
form span input[type="text"]{
    width: 100%;
}

form input,textarea{
    height: 45px;
    width: 60%;
    text-indent: 15px;
    transition: 0.3s;

    border: 2px solid #4059ad;
    border-radius: 15px;
    outline: none;
}

form input:focus, textarea:focus{
    border: 2px solid #f7ba59;
}

form textarea{
    resize: none;
    height: 115px;
    padding-top: 15px;
}

form input[type="submit"]{
    text-indent: unset;
    margin-top: 25px;
    width: 20%;
    height: 4.5vw;
    font-size: 1.3vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 100px;
    border: none;

    background-color: #4059ad;
    color: white;
}
form input[type="submit"]:hover{
    background-color: #f7ba59;
    color: black;
}

form .errorText{
    height: 20px;
}

.blobContact{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    list-style: none;
}

.blobContact li:nth-child(1){
    position: absolute;
    bottom:0;
    left:0;
    transform: translate(-32%, 8%);
    z-index: 0;
    width: 60%;
    height: 80%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M761.5 556Q654 612 622 694T469 872q-121 96-152.5-60T245 578q-40-78 7.5-150.5T341 246q41-109 169.5-141.5t137 125q8.5 157.5 115 214t-1 112.5Z%22%2F%3E%3C%2FclipPath%3E%3Cpattern id=%22b%22 patternUnits=%22userSpaceOnUse%22 width=%2250%22 height=%2250%22 viewBox=%220 0 100 100%22 fill=%22%23f7ba59%22%3E%3Ccircle cx=%2250%22 cy=%2250%22 r=%2212.5%22%2F%3E%3C%2Fpattern%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M761.5 556Q654 612 622 694T469 872q-121 96-152.5-60T245 578q-40-78 7.5-150.5T341 246q41-109 169.5-141.5t137 125q8.5 157.5 115 214t-1 112.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  
.blobContact li:nth-child(2){ 
    position: absolute;
    top:0;
    right:0;
    transform: translate(37%, 0%);
    z-index: 0;
    width: 60%;
    height: 80%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M898 623.5q-58 123.5-180.5 146t-198-37Q444 673 310.5 704T150 617.5Q123 500 127.5 366t137-158.5Q397 183 525.5 105t125 105q-3.5 183 151 236.5t96.5 177Z%22%2F%3E%3C%2FclipPath%3E%3Cpattern id=%22b%22 patternUnits=%22userSpaceOnUse%22 width=%2250%22 height=%2250%22 viewBox=%220 0 100 100%22 fill=%22%23000%22 patternTransform=%22rotate(45 0 0)%22%3E%3Cpath d=%22M0 0v100%22 stroke=%22%23000%22 stroke-width=%2220%22%2F%3E%3C%2Fpattern%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M898 623.5q-58 123.5-180.5 146t-198-37Q444 673 310.5 704T150 617.5Q123 500 127.5 366t137-158.5Q397 183 525.5 105t125 105q-3.5 183 151 236.5t96.5 177Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}  

@media screen and (max-width: 768px){
    .ContactForm-container{
        padding-bottom: 30px;
    }
    .ContactForm-title{
        font-size: 12vw;
    }

    form span{
        flex-direction: column;
        width: 100%;
    }

    form span input[type="text"]{
        width: 100%;
    }

    form input{
        width: 100%;
    }

    form textarea{
        width: 100%;
    }

    form input[type="submit"]{
        margin-top: unset;
        width: 45vw;
        height: 13vw;
        font-size: 3.5vw;
    }
}