.header-container{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 3% 0;
}

.header-text{
    width: 60%;
    box-sizing: border-box;
    padding: 7.5%;
    padding-top: 0;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-text h1{
    font-size: 7vw;
    height: 9vw;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.header-text span:nth-child(1){
    font-size: 2.3vw;
    color: rgb(54, 54, 54);
    margin-right: auto;
    position: relative;
    top: 1.5vw;
}
.header-text span:nth-child(3){
    font-size: 2.2vw;
    color: rgb(54, 54, 54);
    margin-left:auto;
}

.header-img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img img{
    width: 33vw;
    height: 33vw;
    border-radius: 100%;
    background-color: red;
}

.contactMe-button{
    width: 17vw;
    height: 5vw;
    border-radius: 50px;
    font-size: 1.5vw;
    background-color: #5F59F7;
    color:white;


    position: absolute;
    bottom: 0;
    right: 12.5%;
}
.contactMe-button:hover{
    box-shadow: #5F59F7 0px 0px 15px;
}