.header-container{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 5%;
    justify-content: space-between;
    /* background-color: tomato; */
}

.header-text{

}
.header-text h1{
    font-size: 80px;
    font-weight: 500;
}
.header-text span:nth-child(1){
    font-size: 25px;
    position: relative;
    top: 75px;
    color: rgb(54, 54, 54);
}

.header-text span:nth-child(3){
    font-size: 25px;
    position: relative;
    top: -55px;
    left: 210px;
    color: rgb(54, 54, 54);
}

.header-img{
    width: 350px;
    height: 350px;
    background-color: red;
}