.navBar-container{
    padding: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    transform: translateX(0%);

}

.menuBtn{
    display: none;
}

.containerBtns{
    min-width: 100px;
    height: 35px;
    border:none;
    background-color: transparent;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
}
.containerBtns::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    top: 5px;
    right: 5px;
    background-color: #f7ba59;
    z-index: -1;
}
.containerBtns::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    border: 1px solid black;
    transition: 0.3s;
    z-index: 1;
}
.containerBtns:hover::before{
    top:0px;
    right: 0px;
}
.containerBtns:hover::after{
    top: 5px;
    left: -8px;
}

@media screen and (max-width: 768px) {
    .containerBtns{
        min-width: 80px;
        width: 20%;
        font-size: 2.7vw;
        padding: unset;
    }
}